/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
/* line 1, sass/patterns/block.medium.scss */
.block-container {
  margin: 0 auto;
  max-width: 43em;
  padding: 0;
  width: 100%;
}

/* line 7, sass/patterns/block.medium.scss */
.block-container-sticky {
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
  min-height: 100%;
}
/* line 12, sass/patterns/block.medium.scss */
.block-container-sticky .push {
  display: block;
  height: 5em;
}

/* line 17, sass/patterns/block.medium.scss */
.block-footer-sticky {
  height: 5em;
  margin: 0 auto;
}

/* line 21, sass/patterns/block.medium.scss */
.block-single-aside {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
.block-single-aside > .grid-item {
  float: left;
  margin-left: 2.32558%;
  width: 48.83721%;
}
/* line 22, sass/mixins/grid.medium.scss */
.block-single-aside > .grid-item:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}
/* line 23, sass/patterns/block.medium.scss */
.block-single-aside .search {
  margin-left: 0;
}

/* line 27, sass/patterns/block.medium.scss */
.block-single-container {
  position: relative;
}
/* line 29, sass/patterns/block.medium.scss */
.block-single-container hgroup {
  height: 5em;
}
/* line 33, sass/patterns/block.medium.scss */
.block-single-container .block-single-aside .navigation-main {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 40, sass/patterns/block.medium.scss */
.block-skills {
  overflow: hidden;
  *zoom: 1;
  padding: 0 1em;
}
/* line 18, sass/mixins/grid.medium.scss */
.block-skills > .grid-item {
  float: left;
  margin-left: 2.32558%;
  width: 48.83721%;
}
/* line 22, sass/mixins/grid.medium.scss */
.block-skills > .grid-item:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}

/* line 4, sass/patterns/navigation.medium.scss */
.navigation-main ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li:first-child, .navigation-main ul.nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li.last {
  padding-right: 0;
}
/* line 6, sass/patterns/navigation.medium.scss */
.navigation-main ul.nav li {
  float: right;
  padding: 0;
}
/* line 10, sass/patterns/navigation.medium.scss */
.navigation-main ul.nav a {
  line-height: 4em;
  margin-left: 1em;
  margin-top: 0;
  padding: 0;
  padding-bottom: 1em;
  position: relative;
  text-align: center;
  width: 4em;
}
/* line 19, sass/patterns/navigation.medium.scss */
.navigation-main ul.nav a .triangle {
  border-bottom: 1em solid white;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  display: block;
  height: 0;
  position: absolute;
  top: 4em;
  width: 0;
}

/* line 3, sass/patterns/page.medium.scss */
.page-header .navigation-main {
  position: absolute;
  right: 1em;
  top: 0;
}

/* line 2, sass/patterns/tags.medium.scss */
body,
html {
  height: 100%;
}

/* line 5, sass/patterns/tags.medium.scss */
body {
  margin: 0 1em;
}

/* line 1, sass/unique/index.medium.scss */
#IndexAside {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#IndexAside > .grid-item {
  float: left;
  margin-left: 2.32558%;
  width: 48.83721%;
}
/* line 22, sass/mixins/grid.medium.scss */
#IndexAside > .grid-item:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}

/* line 4, sass/unique/index.medium.scss */
#IndexHeader {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#IndexHeader > .grid-item {
  float: left;
  margin-left: 2.32558%;
  width: 48.83721%;
}
/* line 22, sass/mixins/grid.medium.scss */
#IndexHeader > .grid-item:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}
/* line 6, sass/unique/index.medium.scss */
#IndexHeader hgroup {
  line-height: 2.5em;
}

/* line 2, sass/unique/splash.medium.scss */
#SplashContainer .container-inner {
  position: relative;
}

/* line 7, sass/unique/splash.medium.scss */
#SplashSidebar .grid-row {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#SplashSidebar .grid-row > .grid-item {
  float: left;
  margin-left: 2.32558%;
  width: 48.83721%;
}
/* line 22, sass/mixins/grid.medium.scss */
#SplashSidebar .grid-row > .grid-item:nth-child(2n+1) {
  clear: left;
  margin-left: 0;
}
