/* line 1, sass/patterns/block.large.scss */
.block-container {
  max-width: 51em;
}

/* line 3, sass/unique/master.large.scss */
#MasterAside {
  display: block;
}
/* line 5, sass/unique/master.large.scss */
#MasterAside aside {
  margin: 1em 0;
}
/* line 7, sass/unique/master.large.scss */
#MasterAside aside .nav {
  margin-top: 0.5em;
}

/* line 12, sass/unique/master.large.scss */
#MasterContainer {
  margin: 0 auto -5em;
}
/* line 13, sass/unique/master.large.scss */
#MasterContainer .container-inner {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#MasterContainer .container-inner > .grid-item {
  float: left;
  margin-left: 1.961%;
  width: 30.77%;
}
/* line 22, sass/mixins/grid.medium.scss */
#MasterContainer .container-inner > .grid-item:first-child {
  margin-left: 0;
}
/* line 15, sass/unique/master.large.scss */
#MasterContainer .container-inner #MasterContent {
  width: 63.501%;
}
/* line 20, sass/unique/master.large.scss */
#MasterContainer .push {
  height: 5em;
}

/* line 24, sass/unique/master.large.scss */
#MasterContent {
  padding-top: 5em;
}
/* line 26, sass/unique/master.large.scss */
#MasterContent article:first-child {
  margin-top: 0;
}

/* line 30, sass/unique/master.large.scss */
#MasterFooter {
  height: 5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#MasterFooter > .grid-item {
  float: left;
  margin-left: 1.961%;
  width: 30.77%;
}
/* line 22, sass/mixins/grid.medium.scss */
#MasterFooter > .grid-item:first-child {
  margin-left: 0;
}
/* line 33, sass/unique/master.large.scss */
#MasterFooter .grid-item {
  margin-left: 30.77%;
  width: 63.501%;
}
/* line 12, sass/mixins/grid.medium.scss */
#MasterFooter .grid-item:first-child {
  margin-left: 32.731%;
}

/* line 38, sass/unique/master.large.scss */
#MasterHeader {
  position: relative;
}
/* line 3, sass/mixins/grid.medium.scss */
#MasterHeader > .grid-item {
  float: none;
  width: auto;
  margin-left: 0;
  width: auto;
}
/* line 41, sass/unique/master.large.scss */
#MasterHeader h1 {
  overflow: hidden;
  *zoom: 1;
  font-size: 2.5em;
}
/* line 45, sass/unique/master.large.scss */
#MasterHeader hgroup {
  padding-top: 5em;
}
/* line 47, sass/unique/master.large.scss */
#MasterHeader hgroup h1 {
  margin-bottom: 0.5rem;
}
/* line 51, sass/unique/master.large.scss */
#MasterHeader nav {
  position: absolute;
  top: 0;
}
/* line 55, sass/unique/master.large.scss */
#MasterHeader .site-description {
  font-size: 1.25em;
}

/* line 61, sass/unique/master.large.scss */
#MasterNavigation ul.nav li {
  float: left;
}
/* line 64, sass/unique/master.large.scss */
#MasterNavigation ul.nav a {
  margin-left: 0;
  margin-right: 1em;
}

/* line 2, sass/unique/rss.large.scss */
#RssBody .rss-header {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 6, sass/unique/rss.large.scss */
#RssBody:hover .rss-header {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  filter: blur(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 12, sass/unique/rss.large.scss */
#RssList > li {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 15, sass/unique/rss.large.scss */
#RssList > li:hover {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  filter: blur(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
