/* line 1, sass/patterns/block.large.scss */
.block-container {
  max-width: 50em;
}

/* line 1, sass/unique/master.large.scss */
#MasterContainer {
  margin: 0 auto -5em;
}
/* line 2, sass/unique/master.large.scss */
#MasterContainer .container-inner {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#MasterContainer .container-inner > .grid-item {
  float: left;
  margin-left: 1em;
  width: 16em;
}
/* line 22, sass/mixins/grid.medium.scss */
#MasterContainer .container-inner > .grid-item:first-child {
  margin-left: 0;
}
/* line 4, sass/unique/master.large.scss */
#MasterContainer .container-inner #MasterContent {
  width: 33em;
}
/* line 9, sass/unique/master.large.scss */
#MasterContainer .push {
  height: 5em;
}

/* line 13, sass/unique/master.large.scss */
#MasterContent {
  padding-top: 5em;
}
/* line 15, sass/unique/master.large.scss */
#MasterContent article:first-child {
  margin-top: 0;
}

/* line 19, sass/unique/master.large.scss */
#MasterFooter {
  height: 5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
#MasterFooter > .grid-item {
  float: left;
  margin-left: 1em;
  width: 16em;
}
/* line 22, sass/mixins/grid.medium.scss */
#MasterFooter > .grid-item:first-child {
  margin-left: 0;
}
/* line 22, sass/unique/master.large.scss */
#MasterFooter .grid-item {
  margin-left: 16em;
  width: 33em;
}
/* line 12, sass/mixins/grid.medium.scss */
#MasterFooter .grid-item:first-child {
  margin-left: 17em;
}

/* line 27, sass/unique/master.large.scss */
#MasterHeader {
  position: relative;
}
/* line 3, sass/mixins/grid.medium.scss */
#MasterHeader > .grid-item {
  float: none;
  width: auto;
  margin-left: 0;
  width: auto;
}
/* line 30, sass/unique/master.large.scss */
#MasterHeader hgroup {
  padding-top: 5em;
}
/* line 32, sass/unique/master.large.scss */
#MasterHeader hgroup h1 {
  margin-bottom: 0.5rem;
}
/* line 36, sass/unique/master.large.scss */
#MasterHeader nav {
  position: absolute;
  top: 0;
}

/* line 42, sass/unique/master.large.scss */
#MasterNavigation ul.nav a {
  margin-left: 0;
  margin-right: 1em;
}
