#SplashContainer {
  .container-inner {
    @include grid-row;
    > div[role='main'] {
      @include grid-span(2);
    }
  }
}
#SplashContent {
  padding-top: $dimension-main-nav-height;
}
#SplashHeader {
  display: block;
}
#SplashHeaderMobile {
  display: none;
}
#SplashSidebar {
  .grid-row {
    @include grid-none;
  }
}