@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";

#MasterContent {
  article {
    border-bottom: solid 1px $color-divider;
    margin: 1em 0;
    padding: 0 1em 1em;
    &:last-child {
      border-bottom: 0;
    }
  }
  .entry-content {
    blockquote {
      border: dotted 1px $color-divider;
      p {
        margin: 0;
      }
    }
    ol,
    ul {
      ol,
      ul {
        margin: 1em 0 1em 1.2em;
      }
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
    p {
      margin: 1em 0;
    }
    ul {
      li {
        list-style-type: square;
      }
    }
  }
}
#MasterFooter {
}
#MasterHeader {
  h1,
  h2,
  h3 {
    @include typography-default;
  }
  h1 {
    @include clearfix;
    span {
      clear: left;
      float: left;
    }
    .first {
      font-size: 2.2em;
    }
    .second{
      font-size: 1.25em;
    }
  }
}
#MasterNavigation {
  ul.nav {
    @include horizontal-list;
    li {
      padding: 0;
    }
    a {
      background-color: $color-link;
      color: $color-background;
      display: block;
      margin-right: 1em;
      padding: 1em;
    }
    .triangle {
      display: none;
    }
  }
}