@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";

#MasterAside {
  display: none;
}
#MasterContent {
  article {
    border-bottom: solid 1px $color-divider;
    margin: 1em 0;
    padding: 0 1em 1em;
    &:last-child {
      border-bottom: 0;
    }
  }
  .more-link {
    display: block;
    text-align: right;
  }
}
#MasterFooter {
}
#MasterHeader {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typography-default;
    a {
      @include typography-default;
    }
  }
}
#MasterNavigation {
  ul.nav {
    @include horizontal-list;
    li {
      padding: 0;
    }
    a {
      background-color: $color-link;
      color: $color-background;
      display: block;
      margin-right: 1em;
      padding: 1em;
    }
    .triangle {
      display: none;
    }
  }
}
#MasterPostNavigation {
  margin-bottom: 1em;
  .nav-next {
    float: right;
  }
}