/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
$color-background: #ffffff;
$color-divider: #dddddd;
$color-light: #eee;
$color-link: #284C7E;
$color-standout: #6996D3;
$color-standout-dark: #05316D;