/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
$color-background:  #ffffff;
$color-divider:     #dddddd;
$color-info:        #eeeeee;
$color-link:        #006366;
$color-link-focus:  #487E81;
$color-text:        #303030;
$color-nav-main:    $color-link;
$color-text-info:   #999999;