
$dimension-container-width: 43;
$dimension-footer-height: 5em;
$dimension-grid-margin-abs: 1;
$dimension-grid-margin: $dimension-grid-margin-abs / $dimension-container-width * 100%;
$dimension-grid-width: ($dimension-container-width - $dimension-grid-margin-abs) / 2 / $dimension-container-width * 100%;
$dimension-main-nav-height: 5em;
$dimension-main-nav-width: 4em;
$dimension-main-nav-triangle: 1em;