@import "dimension.medium";
$dimension-container-width: 50em;
$dimension-footer-height: 5em;
$dimension-grid-margin: 1em;
$dimension-grid-width: ($dimension-container-width - $dimension-grid-margin * 2) / 3;