@import "dimension.medium";
$dimension-container-width: 51;
$dimension-footer-height: 5em;
$dimension-grid-margin-abs: 1;
$dimension-grid-margin: ($dimension-grid-margin-abs / $dimension-container-width) * 100%;
$dimension-grid-width: ((($dimension-container-width - $dimension-grid-margin-abs * 2) / 3) / $dimension-container-width) * 100%;