@import "compass/utilities/general/clearfix";
@mixin grid-none {
  > .grid-item {
    float: none;
    width: auto;
    margin-left: 0;
    width: auto;
  }
}
@mixin grid-offset($span: 1) {
  margin-left: $dimension-grid-width * $span + $dimension-grid-margin * ($span - 1);
  &:first-child {
    margin-left: $dimension-grid-width * $span + $dimension-grid-margin * $span;
  }
}
@mixin grid-row {
  @supports(display: flex) {
    display: flex;
    flex-wrap: wrap;
  }
  @supports not(display: flex) {
    @include clearfix;
  }
}
@mixin grid-item($width: $dimension-grid-width, $margin: $dimension-grid-margin) {
  margin-left: $margin;
  &:nth-child(2n+1) {
    margin-left: 0;
  }
  @supports(display: flex) {
    flex: 0 0 $width;
  }
  @supports not(display: flex) {
    float: left;
    width: $width;
    &:nth-child(2n+1) {
      clear: left;
    }
  }
}
@mixin grid-span($span: 1) {
  width: $dimension-grid-width * $span + $dimension-grid-margin * ($span - 1);
}