/* line 3, ../sass/patterns/list.large.scss */
dl.list-skills dt {
  font-weight: normal;
  float: left;
  width: 11em;
}
/* line 8, ../sass/patterns/list.large.scss */
dl.list-skills dd {
  margin-left: 11em;
}
/* line 10, ../sass/patterns/list.large.scss */
dl.list-skills dd.progress {
  margin-bottom: 0.5em;
}
