.block-container {
  padding: 0.5em 1em;
}
.block-content {
  blockquote {
    border: dotted 1px $color-divider;
    p {
      margin: 0;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
  }
  ol,
  ul {
    ol,
    ul {
      margin: 1em 0 1em 1.2em;
    }
  }
  ol {
    li {
      list-style-type: decimal;
    }
  }
  p {
    line-height: 1.25em;
    margin: 1em 0;
  }
  ul {
    li {
      list-style-type: square;
    }
  }
}
.block-posts {
  article {
    border-bottom: solid 1px $color-divider;
    margin: 1em 0;
    padding: 0 1em 1em;
    .meta {
      @include typography-info;
      a {
        @include typography-info;
        text-decoration: underline;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .more-link {
    display: block;
    text-align: right;
  }
}
.block-single-aside {
  > * {
    margin-bottom: 1em;
  }
}