@import "compass/typography/lists/horizontal-list";

$main-column: 57%;
$aside-column: 261px;

header[role="banner"] {
  display: flex;
  hgroup {
    flex: 1 $main-column;
  }
  nav {
    flex: 1 $aside-column;
  }
}

header nav[role="navigation"] ul {
  @include grid-none;
  @include horizontal-list;
  li {
    @include grid-none;
    display: inline;
    padding: 0;
  }
  a {
    background: linear-gradient(90deg, $color-nav-main 25%, $color-nav-main * 0.9 50%, $color-nav-main 25%);
    font-family: Monospace;
    line-height: $dimension-main-nav-height - $dimension-main-nav-triangle;
    margin-right: 0.5em;
    margin-top: 0;
    padding: 0;
    padding-bottom: $dimension-main-nav-triangle;
    position: relative;
    text-align: center;
    width: $dimension-main-nav-width;
    .triangle {
      border-bottom: $dimension-main-nav-triangle solid $color-background;
      border-left: $dimension-main-nav-width / 2 solid transparent;
      border-right: $dimension-main-nav-width / 2 solid transparent;
      display: block;
      height: 0;
      position: absolute;
      top: $dimension-main-nav-height - $dimension-main-nav-triangle;
      width: 0;
    }
  }
}

main ~ aside {
  display: flex;
  flex-wrap: wrap;
  > article {
    flex: 0 0 50%;
    > *:nth-child(n+2) {
      padding: inherit 0.5em;
    }
  }
}