header hgroup {
  margin-top: 0.5em;
}

header nav[role="navigation"] {
  ul {
    li {
      padding: 0;
    }
    a {
      background-color: $color-nav-main;
      color: $color-background;
      display: block;

      margin-top: 0.5em;
      padding: 0.5em;
      text-decoration: none;
    }
    .triangle {
      display: none;
    }
  }
}
@media (max-width: 30em) {
  header nav[role="navigation"] {
    ul {
      @include grid-row;
      li {
        @include grid-item(49%, 2%);
      }
    }
  }
}

main nav ul {
  @extend .nav, .nav-pills;
}

footer {
  border-top: solid 1px $color-divider;
  padding: 0.5em 0;
}

#cookies.js-enabled {
  background: $color-link;
  bottom: 0;
  color: $color-background;
  position: fixed;
  width: 100%;
  a {
    color: $color-background;
  }
}