$main-column: 67%;
$aside-column: 100% - $main-column;

header[role="banner"] {
  hgroup {
    align-self: flex-end;
    flex: 1 1 $main-column;
  }
  nav {
    flex: 1 1 $aside-column;
  }
}

header nav[role="navigation"] ul li a {
  margin-right: 1em;
}

main ~ aside {
  > article {
    flex: 0 0 33.33%;
  }
}