
.navigation-main {
  ul.nav {
    li {
      padding: 0;
    }
    a {
      background-color: $color-nav-main;
      color: $color-background;
      display: block;
      margin-top: 0.5em;
      padding: 0.5em;
    }
    .triangle {
      display: none;
    }
  }
}
.navigation-posts {
  margin-bottom: 1em;
  .nav-next {
    float: right;
  }
}