a {
  @include typography-link;
}
blockquote {
  background-color: $color-info;
  border: solid 1px $color-divider;
  padding: 1em;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
body {
  @include typography-default;
  margin: 0 1em;
}
dl {
  dt {
    font-weight: bold;
    line-height: 1.5em;
  }
  dd {
    margin-left: 2em;
  }
}
em {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  margin: 0;
  a {
    @include typography-title;
  }
}
h1 {
  @include typography-title-large;
}
h2 {
  @include typography-title-medium;
}
h3 {
  @include typography-title-small;
}
h4,
h5,
h6 {
  @include typography-title;
}
header {
  margin-bottom: 0.5em;
  h4,
  h5,
  h6 {
    a {
      text-decoration: underline;
    }
  }
}
hgroup {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typography-default;
    a {
      @include typography-default;
    }
  }
}
p {
  display: block;
  line-height: 1.25em;
  margin: 0.75em 0;
  width: 100%;
}
strong {
  font-weight: bold;
}