@import "../mixins/compass";

.block-container {
  margin: 0 1em;
}
.block-content {
  @include typography-content;
  a {
    @include typography-underline-link;
  }
  blockquote {
    border: dotted 1px $color-divider;
    p {
      margin: 0;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
  }
  dl,
  ol,
  ul,
  p {
    line-height: 1.25em;
  }
  ol,
  ul {
    margin: 1em 0 1em 1.2em;
    li {
      margin-bottom: 0.25em;
    }
    ol,
    ul {
      margin: 0.25em 0 0.25em 1.2em;
    }
    &.compact {
      margin: 0 0 0 1.2em;
      li {
        margin-bottom: 0;
      }
      ol,
      ul {
        margin: 0 0 0 1.2em;
      }
    }
  }
  ol {
    li {
      list-style-type: decimal;
    }
  }
  p {
    margin: 1em 0;
  }
  section {
    section {
      padding: 0 1rem;
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        margin-left: -1rem;
        margin-right: -1rem;
      }
    }
  }
  ul {
    li {
      list-style-type: square;
    }
  }
}
.block-photo {
  @include border-radius(0.5em);
  background-color: $color-info;
  border: solid 1px $color-divider;
  margin: 0 1em 1em;
  padding: 0.5em;
  transform: rotate(5deg);
  img {
    @include border-radius(0.5em);
    width: 100%;
  }
}
.block-posts {
  article {
    border-bottom: solid 1px $color-divider;
    margin: 1em 0;
    padding: 0 1em 1em;
    iframe {
      width: 100%;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .more-link {
    text-align: right;
  }
}
.block-single-aside {
  > * {
    margin-bottom: 1em;
  }
}
