@import "../mixins/compass";

dl.list-skills {
  dd {
    &.progress {
      > .progress-bar {
        @include text-shadow(#000 1px 1px 1px);
        padding-right: 1px;
        text-align: right;
        &--success {
          background-color: $color-nav-main;
        }
        &--warning {
          background-color: rgba($color-link-focus, 0.5);
        }
      }
    }
  }
}
